.home{
    background-image: url('../Image/Rectangle\ 1.png');
    background-color: rgba(0, 0, 0, 0.39);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
}
.sliderImg img {
    max-width: 95%;
    transition: 200ms;
    display: block;
    margin: 10px 0;
}
.sliderImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sliderImg img:hover{
    border: 5px solid #F9A51A;
    border-radius: 25px;
}
.active{
    border: 5px solid #F9A51A;
    border-radius: 25px;
}
.selectedPlace{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: White;
    font-family: 'Oswald', sans-serif;
    padding: 25px;

}
.selectedPlaceTitle{
    font-size:70px;
    margin-top: 0;
    margin-bottom: 0;
}
.placeInfo Button{
    background: #F9A51A;
    font-size: 14px;
    font-weight: 700;
    text-transform: inherit;
}
.imgTitle {
    position: absolute;
    bottom: 130px;
    color: #fff;
    left: 15px;
    font-family: 'Oswald';
}
.backForwardBtn{
    display: flex;
    justify-content: center;
}
.sliderbtn{
    background-color: #fff;
    padding: 15px;
    color: #000;
    border-radius: 50%;
    margin: 10px;
}